src/main/resources/output_xsd/borders.xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="borders" type="bordersType"/>
  <xs:complexType name="borderType">
    <xs:sequence>
      <xs:element type="xs:string" name="countryName" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
    <xs:attribute type="xs:byte" name="length" use="optional"/>
  </xs:complexType>
  <xs:complexType name="bordersType">
    <xs:sequence>
      <xs:element type="borderType" name="border" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>