src/main/resources/output_xsd/cities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cities" type="citiesType"/>
  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element type="xs:string" name="cityName"/>
      <xs:element type="populationType" name="population"/>
      <xs:element type="xs:string" name="countryName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="populationType">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute type="xs:byte" name="year" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="citiesType">
    <xs:sequence>
      <xs:element type="cityType" name="city" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>