src/main/resources/output_xsd/countries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="countries" type="countriesType"/>
  <xs:complexType name="countriesType">
    <xs:sequence>
      <xs:element type="xs:string" name="country" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>