src/main/resources/output_xsd/mountains.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mountains" type="mountainsType"/>
  <xs:complexType name="mountainsType">
    <xs:sequence>
      <xs:element type="mountainType" name="mountain" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mountainType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="mountainName" use="required"/>
        <xs:attribute type="xs:short" name="height" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>